export REGISTRY_BASE_URL=https://registry.cdlib.org

export NUXEO_TOKEN=xyz
export NUXEO_API=https://nuxeo.cdlib.org/nuxeo/site/api/v1

# to write files to S3
#export NUXEO_MERRITT_METADATA=s3://nuxeo-merritt/metadata
#export NUXEO_FEEDS=s3://nuxeo-merritt/reports

# to write files to local file system
export NUXEO_MERRITT_METADATA=file:///Users/bhui/dev/ucldc-merritt/output/metadata
export NUXEO_FEEDS=file:///Users/bhui/dev/ucldc-merritt/output/feeds