export REGISTRY_BASE_URL=https://registry.cdlib.org

export NUXEO_TOKEN=xyz
export NUXEO_API=https://nuxeo.cdlib.org/nuxeo/site/api/v1

# to write files to S3
#export NUXEO_MERRITT_METADATA=s3://nuxeo_merritt-dev/metadata
#export NUXEO_MERRITT_MEDIA_JSON=s3://nuxeo_merritt-dev/media_json
#export NUXEO_MERRITT_FEEDS=s3://nuxeo_merritt-dev/atom_feeds

# to write files to local file system
export NUXEO_MERRITT_METADATA=file:///Users/bhui/dev/nuxeo_merritt/output/metadata
export NUXEO_MERRITT_MEDIA_JSON=file:///Users/bhui/dev/nuxeo_merritt/output/media_json
export NUXEO_MERRITT_FEEDS=file:///Users/bhui/dev/nuxeo_merritt/output/atom_feeds