# example docker env file for dev purposes
NUXEO_MERRITT_NUXEO_TOKEN=xyz
NUXEO_MERRITT_NUXEO_API=https://nuxeo.cdlib.org/nuxeo/site/api/v1

# to write files to S3
#NUXEO_MERRITT_METADATA=s3://pad-nuxeo/nuxeo_merritt/metadata
#NUXEO_MERRITT_MEDIA_JSON=s3://pad-nuxeo/nuxeo_merritt/media_json
#NUXEO_MERRITT_FEEDS=s3://pad-nuxeo/nuxeo_merritt/atom_feeds

# to write files to local file system (inside container)
NUXEO_MERRITT_METADATA=file:///nuxeo_merritt/metadata
NUXEO_MERRITT_MEDIA_JSON=file:///nuxeo_merritt/media_json
NUXEO_MERRITT_FEEDS=file:///nuxeo_merritt/atom_feeds